<!DOCTYPE html>
<html lang="sr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="{{ url_for('static', filename='haiti.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">


</head>
<body>
  <header>
  <h1>Moja aplikacija za praćenje navika!</h1>
  <nav>
  
  </nav>
  <hr>
</header>
</body>
</html>
